$main-color: #f56e1e;
$grey-color: #6e7191;
$dark-grey: #00000033;
$telegram-color: #c2c4d2;
$opacity-color: #a0a3bc;
$form-background: #fde9de;

@font-face {
  font-family: Golos;
  src: url(./fonts/Golos\ Text_Bold.eot) url(./fonts/Golos\ Text_Bold.ttf)
    url(./fonts/Golos\ Text_Bold.woff) url(./fonts/Golos\ Text_Bold.woff2);
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1410px;
  margin: 0 auto;
  font-family: Golos;
}

/* Grid section*/
.grid {
  margin: 60px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  box-sizing: border-box;
  // margin: 0 auto;

  &__card {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    flex-direction: row;
    padding: 21px;
    gap: 22px;
    border: 1px solid $grey-color;
    border-radius: 20px;

    img {
      grid-column: 1 / 1;
      grid-row: 1 / span 2;
    }

    h1 {
      font: {
        style: normal;
        weight: 700;
        size: 28px;
      }
      line-height: 32px;
      color: $main-color;
      margin: 0;
    }
    p {
      font: {
        style: normal;
        weight: 400;
        size: 16px;
      }
      line-height: 20px;
      color: $grey-color;
      margin: 0;
    }
  }
}

/*/ Grid section*/

/* Text section */
.text {
  margin-bottom: 60px;
  &__main {
    h2 {
      color: $grey-color;
      line-height: 36px;
      font: {
        weight: 700;
        size: 32px;
      }
    }

    p {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 68.51%
      );
      color: $grey-color;
    }
    span {
      opacity: 0.6;
      display: block;
    }
  }

  &__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 4px;
  }
}

/*/ Text section */

/* Form section */
.form {
  background-color: $form-background;
  border-radius: 20px;

  &__firstline {
    h3 {
      line-height: 24px;
      color: $grey-color;
      font: {
        style: normal;
        weight: 600;
        size: 22px;
      }
      padding: {
        top: 25px;
        left: 32px;
      }
    }
  }

  &__secondline {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 32px;
    align-items: center;
    &--left {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 30px;
      margin-right: 48px;
    }
    .ict {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 8px;
    }
    .ict2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 8px;
      p {
        color: $grey-color;
      }
    }
    p {
      font: {
        style: normal;
        weight: 400;
        size: 14px;
      }
      line-height: 18px;
      color: $main-color;
      margin: 0 auto;
    }

    &--right {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 16px;
      align-items: center;
    }
    input {
      box-sizing: border-box;
      padding: 6px 12px;
      background: #ffffff;
      border: 1px solid #a0a3bc;
      border-radius: 12px;
      width: 478px;
      font-size: 16px;
      width: 478px;
      height: 48px;
    }
    input::placeholder {
      font: {
        style: normal;
        weight: 400;
        size: 16px;
      }
      line-height: 16px;
      color: $opacity-color;
      margin: 6px 12px;
    }
    button {
      border-radius: 12px;
      background-color: $main-color;
      border: 1px solid $main-color;
      color: #ffffff;
      font: {
        style: normal;
        weight: 600;
        size: 16px;
      }
      line-height: 28px;
      padding: 8px 34.5px;
      margin-right: 38px;
    }
  }

  .form__thirdline {
    margin: {
      top: 28px;
      left: 32px;
    }
    padding-bottom: 21px;
    p {
      font: {
        style: normal;
        weight: 400;
        size: 12px;
      }
      line-height: 14px;
      color: $grey-color;
    }
    span {
      color: $main-color;
      text-decoration: underline;
    }
  }
}
/*/ Form section */

/* Upward icon */
.upward {
  margin: {
    top: 34px;
    right: 20px;
  }
  text-align: right;
  // position: fixed;
}
/*/ Upward icon */

/* Footer */

.footer {
  background-color: #f1f1f1;
  border-radius: 20px 20px 0 0;
  width: 100%;
  margin: 0 auto;
  margin-top: 34px;
  display: flex;
  padding-left: 20px;
  gap: 65px;
  padding-bottom: 110px;
  &__fr,
  &__sd,
  &__td,
  &__ft,
  &__fh {
    padding-top: 46px;
  }

  &__fr {
    p {
      width: 240px;
      color: $grey-color;
      font: {
        style: normal;
        weight: 400;
        size: 14px;
      }
      line-height: 14px;
    }
    span {
      text-decoration: underline;
      display: block;
    }
    &--p {
      margin-top: 52px;
    }
  }

  &__sd {
    h4 {
      color: $grey-color;
      font: {
        style: normal;
        weight: 600;
        size: 16px;
      }
      line-height: 18px;
    }

    p {
      color: $grey-color;
      font: {
        style: normal;
        weight: 400;
        size: 14px;
      }
      line-height: 16px;
      cursor: pointer;
    }

    p:hover {
      color: $telegram-color;
    }
  }

  &__td {
    h4 {
      color: $grey-color;
      font: {
        style: normal;
        weight: 600;
        size: 16px;
      }
      line-height: 18px;
    }

    p {
      color: $grey-color;
      font: {
        style: normal;
        weight: 400;
        size: 14px;
      }
      line-height: 16px;
      cursor: pointer;
    }
    p:hover {
      color: $telegram-color;
    }
  }

  &__ft {
    h4 {
      color: $grey-color;
      font: {
        style: normal;
        weight: 600;
        size: 16px;
      }
      line-height: 18px;
    }
  }

  &__fh {
    text-align: right;
    &--1 {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 15px;
      align-items: center;
      h6 {
        color: $grey-color;
        font: {
          style: normal;
          weight: 400;
          size: 12px;
        }
        line-height: 14px;
        text-decoration-line: underline;
        width: 249px;
        height: 31px;
      }
      img {
        width: 28px;
        height: 28px;
      }
    }

    hr {
      padding-top: 0;
      width: 330px;
      border: 1px solid $grey-color;
    }

    &--2 {
      p {
        color: $opacity-color;
        font: {
          style: normal;
          weight: 400;
          size: 12px;
        }
        line-height: 14px;
        margin-left: 170px;
      }
      span {
        color: $grey-color;
        font: {
          style: normal;
          weight: 600;
          size: 16px;
        }
        line-height: 18px;
        display: block;
      }
    }

    &--3 {
      p {
        color: $opacity-color;
        font: {
          style: normal;
          weight: 400;
          size: 12px;
        }
        line-height: 14px;
        margin-left: 180px;
      }
      span {
        color: $grey-color;
        font: {
          style: normal;
          weight: 600;
          size: 16px;
        }
        line-height: 18px;
        display: block;
      }
    }

    &--4 {
      p {
        color: $opacity-color;
        font: {
          style: normal;
          weight: 400;
          size: 12px;
        }
        line-height: 14px;
        margin-left: 180px;
      }
      span {
        color: $grey-color;
        font: {
          style: normal;
          weight: 600;
          size: 16px;
        }
        line-height: 18px;
        display: block;
      }
    }
  }
}
/*/ Footer */

@media only screen and (max-width: 1200px) {
  body {
    margin: 0 auto;
  }
  .form {
    background-color: $form-background;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 992px) {
  /* Grid section*/
  .grid {
    margin: 60px 20px;
    &__card {
      gap: 16px;
      padding: 36px;

      img {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        margin: 0;
        padding: 0;
      }

      h1 {
        grid-column: 2 / 2;
        grid-row: 1 / span 1;
        font: {
          weight: 700;
          size: 22px;
        }
        line-height: 24px;
        margin: 0;
      }
      p {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
      }
    }
  }

  /*/ Grid section*/

  /* Text section */
  .text {
    margin : {
      bottom: 60px;
      left: 20px;
      right: 20px;
    }
    &__main {
      h2 {
        line-height: 32px;
        font: {
          size: 28px;
        }
      }
    }
  }

  /*/ Text section */

  /* Form section */
  .form {
    background-color: $form-background;
    border-radius: 20px;
    margin: 0 20px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

    &__firstline {
      h3 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
      }
      margin: 0;
    }

    &__secondline {
      display: block;
      grid-column: 2 / span 1;
      grid-row: 1 / span 2;
      width: 626px;
      box-sizing: border-box;

      &--left {
        margin-bottom: 25px;
      }

      button {
        margin-right: 25px;
      }
    }

    .form__thirdline {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      margin: {
        left: 25px;
      }
    }
  }
  /*/ Form section */

  /* Footer */

  .footer {
    gap: 20px;

    &__fr {
      margin-right: 65px;
      p {
        width: 155px;

        font: {
          size: 10px;
        }
        line-height: 12px;
      }
    }

    &__sd {
      h4 {
        font: {
          size: 14px;
        }
        line-height: 16px;
      }

      p {
        font: {
          size: 12px;
        }
        line-height: 14px;
      }
    }

    &__td {
      h4 {
        font: {
          size: 14px;
        }
        line-height: 16px;
      }

      p {
        font: {
          size: 12px;
        }
        line-height: 14px;
      }
    }

    &__ft {
      h4 {
        font: {
          size: 14px;
        }
        line-height: 16px;
      }
    }

    &__fh {
      text-align: right;

      &--2 {
        p {
          font: {
            size: 12px;
          }
          line-height: 14px;
        }
        span {
          font: {
            size: 14px;
          }
          line-height: 16px;
        }
      }

      &--3 {
        p {
          font: {
            size: 12px;
          }
          line-height: 14px;
        }
        span {
          font: {
            size: 14px;
          }
          line-height: 16px;
        }
      }

      &--4 {
        p {
          font: {
            size: 12px;
          }
          line-height: 14px;
        }
        span {
          font: {
            size: 14px;
          }
          line-height: 16px;
        }
      }
    }
  }
  /*/ Footer */
}
