body {
  max-width: 1410px;
  margin: 0 auto;
}

/* Grid section*/
.grid {
  margin: 60px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  box-sizing: border-box;
}
.grid__card {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 36px;
  gap: 22px;
  border: 1px solid #6e7191;
  border-radius: 20px;
}
.grid__card--right h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #f56e1e;
}
.grid__card--right p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #6e7191;
}

/*/ Grid section*/
/* Text section */
.text__main h2 {
  color: #6e7191;
  line-height: 36px;
  font-weight: 700;
  font-size: 32px;
}
.text__main p {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 68.51%);
  color: #6e7191;
}
.text__main span {
  opacity: 0.6;
  display: block;
}
.text__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  gap: 4px;
}

/*/ Text section */
/* Form section */
.form {
  background-color: #fde9de;
  border-radius: 20px;
}
.form__firstline h3 {
  line-height: 24px;
  color: #6e7191;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  padding-top: 25px;
  padding-left: 32px;
}
.form__secondline {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 32px;
  align-items: center;
}
.form__secondline--left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  margin-right: 48px;
}
.form__secondline .ict {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}
.form__secondline .ict2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}
.form__secondline .ict2 p {
  color: #6e7191;
}
.form__secondline p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #f56e1e;
  margin: 0 auto;
}
.form__secondline--right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  align-items: center;
}
.form__secondline input {
  box-sizing: border-box;
  padding: 6px 12px;
  background: #ffffff;
  border: 1px solid #a0a3bc;
  border-radius: 12px;
  width: 478px;
  font-size: 16px;
  width: 478px;
  height: 48px;
}
.form__secondline input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #a0a3bc;
  margin: 6px 12px;
}
.form__secondline button {
  border-radius: 12px;
  background-color: #f56e1e;
  border: 1px solid #f56e1e;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  padding: 8px 34.5px;
  margin-right: 38px;
}
.form .form__thirdline {
  margin-top: 28px;
  margin-left: 32px;
  padding-bottom: 21px;
}
.form .form__thirdline p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #6e7191;
}
.form .form__thirdline span {
  color: #f56e1e;
  text-decoration: underline;
}

/*/ Form section */
/* Footer */
footer {
  background-color: #f1f1f1;
  width: 100%;
  margin-top: 34px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

/*/ Footer */

/*# sourceMappingURL=style.css.map */
