$main-color: #f56e1e;
$grey-color: #6e7191;
$dark-grey: #00000033;
$telegram-color: #c2c4d2;
$opacity-color: #a0a3bc;

body {
  max-width: 1410px;
}

/* Grid section*/
.grid {
  margin: 60px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  box-sizing: border-box;
  // margin: 0 auto;

  &__card {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 36px;
    gap: 22px;
    border: 1px solid $grey-color;
    border-radius: 20px;
    &--right {
      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        color: $main-color;
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $grey-color;
      }
    }
  }
}

/*/ Grid section*/

/* Text section */
.text {
  &__main {
    h2 {
      color: $grey-color;
      line-height: 36px;
      font: {
        weight: 700;
        size: 32px;
      }
    }

    p {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 68.51%
      );
      color: $grey-color;
    }
  }

  &__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 4px;
  }
}

/*/ Text section */
